body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */

img {
	height: 40px;
    max-width: 100%;
}

.container {
	width: 80%;
	margin: 0 auto;
	position: relative;
}



/* NAVIGATION BAR */

header {
	background: #9D8189;
	padding: 1rem 0;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.nav {
	visibility: hidden;
	height: 0;
	position: absolute;
}

.nav--visible {
	visibility: visible;
	height: auto;
	position: relative;
}

/* NAV BAR */

.logo {
	height: 30px;
}

.nav {
	width: 100%;
}

.nav__list {
	padding: 0;
	margin: 0;
    margin-left: 50%;
	list-style: none;
}

.nav__item {
	margin-top: 1rem;
}

.nav__link {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFE5D9;
	font-size: 1.5rem;
}
.candie > img{
    height: 300px;
    border: 2px solid #333333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.candie{
    margin: 0% 0% 5% 5%;
}
@media (min-width: 700px) {
	.row {
		display: flex;
		justify-content: space-between;
	}

	.nav-toggle {
		display: none;
	}

	.nav {
		visibility: visible;
		position: relative;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		height: auto;
	}

	.nav__list {
		display: flex;
	}

	.nav__item {
		margin: 0 0 0 2rem;
	}
}

.hero {
	background: #F4ACB7;
	padding: 100px 0;
}



.hero__primary h1 {
	color: brown;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	line-height: 1;
	margin-top: 5%;
}


@media (min-width: 700px) {
	.row {
		display: flex;
		justify-content: space-between;
	}

	.hero__primary h1 {
		font-size: 4em;

	}

}

@media (min-width: 1000px) {
	.hero__primary {
		width: 40%;
	}

	.hero__secondary {
		width: 45%;
	}
}

/* SIDE SECTION */

.section {
	background: #a59678;
	text-align: center;
	padding: 50px 0;
}

.side__note {
	width: 60%;
	margin: 0 auto;
	padding: 1em 0;
}

.side__note h3 {
	margin: 0 0 0.5em;
	color: #F4ACB7;
	font-family: 'Oswald', sans-serif;
}

@media (min-width: 700px) {

	.side__note+.side__note {
		margin-left: 3rem;
	}

	.side__note h3 {
		font-size: 2.2rem;
	}
}

/* MAIN SECTION */

main {
	background: #fff;
	padding: 100px 0;
	margin: 0 auto;
}
#image_gallery{
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    padding: 2%;
}
.candies{
        width: 300px; /* Adjust the width as needed */
        height: auto; /* Maintains aspect ratio */
      
}
.desc{
    color: orangered;
}
div.gallery {       
    margin: 20px;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

@media (min-width: 700px) {
	.card+.card {
		margin-left: 2rem;
	}
}

@media (min-width: 1000px) {
	.main {
		display: flex;
		padding: 50px 0; 
	}

	.cards {
		flex-direction: column;
	}

	.primary-content {
		width: 60%;
		margin-right: 7rem;
	}

	.secondary-content {
		width: 40%;
	}

	.card+.card {
		margin-top: 2rem;
		margin-left: 0;
	}
}


/* FOOTER */

.footer {
	background: #F4ACB7;
	padding: 50px 0;
    text-align: center;
}


